<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Home - text.tk</title>
    </head>
    <body>
        <header>
            <h1><a href='/'>text.tk</a></h1>
        </header>
        <main>
            <h2>Latest Texts</h2>
            <p>There's nothing to see here yet!</p>
        </main>
        <footer> Created by <a href='https://github.com/LV'>Luis Victoria</a></footer>
    </body>
</html>